## Python and ML 25

### Python Data type
Python has several built-in data types that you can use out of the box because theyʼre built into the language.
Note that the term basic refers to objects that can represent data you typically find in real life, such as numbers and text. It doesnʼt include composite data types, such as lists, tuples, dictionaries, and others.
 In Python, the built-in data types that you can consider basic are the following:

##### Integer Numbers
 Integer numbers are whole numbers with no decimal places. They can be positive or negative numbers. For example, 0, 1, 2, 3,-1, -2, and -3 are all integers.

In [1]:
x=3
print(x)

3

When youʼre working with long integers, you can use the underscore character to make the literals more readable:

In [2]:
x=1_000_000
print(x)

1000000

##### Integer Method
there are different integer Method you will use in python.just like you use             .as_integer_ratio()

In [3]:
x=12
print( (x).as_integer_ratio())

(12, 1)

When you call the .as_integer_ratio() method on an integer value, you get the integer as the numerator and 1 as the
 denominator.

In [4]:
print(int())

0

the int is the built in function when you are calling the int with no aurgument it well return 0.
If you use int data type as a string aurgument then you get a value error.
e.g>> print(int('one')) in this case you well get a value error.

#### Floating Point number
 Floating-point numbers, or just float, are numbers with a decimal place. For example, 1.0 and 3.14 are floating-point numbers.
 You can also have negative float numbers, such as -2.75. In Python, the name of the float class represents floating-point numbers:

In [5]:
x=1.2
print(type(x))

<class 'float'>

you can use the characters e or E followed by a positive or negative integer to express the number using scientific notation.
e.g .4e7

In [6]:
print(.4e7)

4000000.0

#### Complex Number
 Python has a built-in type for complex numbers. Complex numbers are composed of real and imaginary parts. They have the
 form a + bi, where a and b are real numbers, and i is the 
Python
 imaginary unit.

In [8]:
print(type(2+3j))

<class 'complex'>

Note that the j canʼt be used alone.if you try to do this then you will get name error.

In [ ]:
print(3+j)

NameError: name 'j' is not defined

 the complex type has a single method called .conjugate().

In [11]:
x=3+4j
print(x.conjugate())

(3-4j)

we can also use the complex bult in  function in python.when we call the complex function withe no aurgument then it well return 0.

In [12]:
print(complex())

0j

if you use complex number is a string value then you do not use space between them. if you space between them then you will get value error.

In [17]:
print(complex('3+4j'))
print(complex('3 + 4j'))

(3+4j)

ValueError: complex() arg is a malformed string

### string 
in python strings are sequences of character data that you can use to represent and store textual data.
the string type in ptyhon is called str.

In [20]:
print('I am Aizaz Ali')
print(type(''))

I am Aizaz Ali
<class 'str'>

you can also use double quota and triple quota to use string.
the triple quota use for more then one line.

In [23]:
print('''this is triple line quoted string''')

this is triple line quoted string

if you use single quoted string in you use between them other single quota then you well get syntax error

##### string character
###### Immutable: Cannot be changed after creation.
###### Indexed: Access characters using index (starts from 0).
###### Iterable: Can be looped through.

In [25]:
name='aizaz ali'
print(name)
print(name[0])

aizaz ali
a

##### Useful String Methods:
Method	Description	Example
.lower()	Converts to lowercase	'Hello'.lower() → 'hello'
.upper()	Converts to uppercase	'hi'.upper() → 'HI'
.strip()	Removes whitespace	' test '.strip() → 'test'
.replace(a, b)	Replaces a with b	'apple'.replace('a','A')
.find(sub)	Finds index of substring	'python'.find('t') → 2
.split()	Splits into list	'a b c'.split() → ['a','b','c']
.join(list)	Joins elements with string	' '.join(['a','b']) → 'a b'

In [27]:
name='aizaz ali'
print(name.lower())
print(name.upper())
print(name.strip())
print(name.replace('a','A'))

aizaz ali
AIZAZ ALI
aizaz ali
AizAz Ali

if you use r befor quated in the string then it is called raw string. in raw string the string character did not work.

In [30]:
print('Aizaz\tAli')
print(r'Aizaz\tAli')

Aizaz	Ali
Aizaz\tAli

##### fstring litter

In [31]:
name='Aizaz Ali'
age=18
print(f"my name is {name} and my age is {age}")

my name is Aizaz Ali and my age is 18

Escape character:
\n give new line 
\t give tab space 
\  'single
\  "Double quote
\\ give bckslash

#### Bytes and Bytearrays in Python
Python provides two main types to work with binary data:

##### bytes
Immutable sequence of bytes.

Each byte is an integer between 0 and 255.

Commonly used for binary files, images, network data, etc.

 Creating bytes:
python
Copy
Edit
You cannot modify a bytes object after creation — it is immutable.

In [35]:
b = bytes([65, 66, 67,80])  
print(b)  
print(b[0])    
type(b)

b'ABCP'
65

bytes

 ##### Bytearray
Mutable version of bytes.

Can be changed (e.g., you can update elements).

Used when you need to modify binary data.

Creating bytearray:

In [37]:
ba = bytearray([65, 66, 67])
print(ba)

ba[0] = 90      
print(ba)

bytearray(b'ABC')
bytearray(b'ZBC')

#### Booleans
logic relies on the truth value of expressions and objects.
they are may be true or false.

In [38]:
type(True)

bool

In [39]:
bool()#built in boolian function

False

In [40]:
x=5
y=10
print(x>y)
print(x<y)

False
True