### Dictionaries in Python
A dictionary is a built in data type in python used to store key value pairs.

In [1]:
student = {"name": "Aizaz", "age": 20, "grade": "A"}
print(student)

{'name': 'Aizaz', 'age': 20, 'grade': 'A'}

Key are unique.
Values can be of any type.
it is defined using curly braces{}.

#### Accessing Value 
when you are accessing any value in dict then you do not use numerical indecing. you use the key.

In [5]:
student = {"name": "Aizaz", "age": 20, "grade": "A"}
print(student["name"])

Aizaz

A Python dictionary consists of a collection of key-value pairs, where each key corresponds to its associated value.In this example the name is the key and the value is the Aizaz.

Retrieving All the Values
.vaulues()

In [26]:
name={'aizaz':100,'khan':120,'shafiq':1300}
name.values()

dict_values([100, 120, 1300])

The .value give us the value in the dict.

The .get() function give us the vaule of the key.

In [27]:
name={'aizaz':100,'khan':120,'shafiq':1300}
name.get('aizaz')

100

In [28]:
# Accessing All the key
name={'aizaz':100,'khan':120,'shafiq':1300}
name.keys()

dict_keys(['aizaz', 'khan', 'shafiq'])

In [29]:
# Getting All the key value item 
name={'aizaz':100,'khan':120,'shafiq':1300}
name.items()

dict_items([('aizaz', 100), ('khan', 120), ('shafiq', 1300)])

IF you use the numerical indecing then you will get keyError.

In [6]:
student = {"name": "Aizaz", "age": 20, "grade": "A"}
print(student[0])# in dict do not use the numerical indexing

KeyError: 0

Mutable: The dictionary values can be updated in place.

Dynamic: Dictionaries can grow and shrink as needed.

Efficient: They’re implemented as hash tables, which allows for fast key lookup.

Ordered: Starting with Python 3.7, dictionaries keep their items in the same order they were inserted.

The keys of a dictionary have a couple of restrictions. They need to be:

Hashable: This means that you can’t use unhashable objects like lists as dictionary keys.
Unique: This means that your dictionaries won’t have duplicate keys.you do not use double key in on dictionary.

on the other hand the value of the dictionary is not restriction. They can be any type like int float etc. In dictionary the value is same not restriction.

It’s important to note that dictionaries are collections of pairs. So, you can’t insert a key without its corresponding value

#### Creating dictionaries in Python
You can create Python dictionaries in a two ways, depending on you. The most common way is to use dictionary literals, which are a comma-separated series of key-value pairs in curly braces.

 The second way is to use the dict() constructor.

You can define a dictionary by enclosing a comma-separated series of key-value pairs in curly braces ({}).

In [7]:
x={42: "aaa", 2.78: "bbb", True: "ccc"}
print(x)

{42: 'aaa', 2.78: 'bbb', True: 'ccc'}

you can’t use unhashable objects as keys. If you try to, then you’ll get an TypeError:

In [8]:
x={[1,2,3]: "A list as a key"}
print(x)

TypeError: unhashable type: 'list'

the dict() constructor also used for creating dictionaray in python

In [12]:
MLB_teams = dict(
    Colorado="Rockies",
    Chicago="White Sox",
     Boston="Red Sox",
     Minnesota="Twins",
     Milwaukee="Brewers",
     Seattle="Mariners",
 )
print(MLB_teams)

{'Colorado': 'Rockies', 'Chicago': 'White Sox', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [13]:
fruit=dict.fromkeys(['banab','apple','mango','orange'],3)
print(fruit)

{'banab': 3, 'apple': 3, 'mango': 3, 'orange': 3}

In the above example we create a dictionary to store an fruite. initially we have the list of fruits in stock but don't have the corresponding amount . So we use 3 as the default amount in the call to .fromkeys().

In [15]:
person = {}# create key in dictionaries by manualey

person["first_name"] = "Aizaz"
person["last_name"] = "Ali"
person["age"] = 18
person["spouse"] = "Syed"
person["children"] = ["Azhar", "Ayyan ", "Rahan"]
person["pets"] = {"dog": "Frieda", "cat": "Sox"}
print(person)

{'first_name': 'Aizaz', 'last_name': 'Ali', 'age': 18, 'spouse': 'Syed', 'children': ['Azhar', 'Ayyan ', 'Rahan'], 'pets': {'dog': 'Frieda', 'cat': 'Sox'}}

#### Adding key in a for Loop
you can create the dictionaries by using for loop.you would required the range.

In [21]:
number={}
for square in range(1, 10):
 number[square]=square**2
print(number)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

in this example we made a for loop in range of ten(10) and then square the number and the number of the square is the value and the number is key.

#### With Comprehensions
using the coprehensions we can made the dictionaries.

In [24]:
number={square:square**2 for square in range(1,5)}
print(number)

{1: 1, 2: 4, 3: 9, 4: 16}

The difference between loop and the list comprehensions is that the loop is take more place and the the list comprehensions give only one line of code

#### updating a Dictionry  
.update([other]) function update the dict with new dict.

In [39]:
name={
    'aizaz':100,
      'khan':120,
      'shafiq':1300
      }
village={
    'aizaz':500,
    'palar':2,
    'jalozai':3,
    'shanai':4
    }
village.update(name)
print(village)

{'aizaz': 100, 'palar': 2, 'jalozai': 3, 'shanai': 4, 'khan': 120, 'shafiq': 1300}

The update function update the value by new value which have already present in the dictionaries. And messing value at the end of the libaries

In [43]:
# .pop method remove the key value pair and give the value of the key.
name={
    'aizaz':100,
      'khan':120,
      'shafiq':1300
      }
name.pop('aizaz')
print(name)

{'khan': 120, 'shafiq': 1300}

if the key is not present the it well keyError.

In [44]:
name={
    'aizaz':100,
      'khan':120,
      'shafiq':1300
      }
print(name.pop('like'))

KeyError: 'like'

The .popitem() delate the last item of the list.

In [47]:
village={
    'aizaz':500,
    'palar':2,
    'jalozai':3,
    'shanai':4
    }
print(village.popitem())
print(village)

('shanai', 4)
{'aizaz': 500, 'palar': 2, 'jalozai': 3}

the .popitem delate the item in the list in the last. and then give the dictionaries.

In [48]:
# clear the dicitonaries
village={
    'aizaz':500,
    'palar':2,
    'jalozai':3,
    'shanai':4
    }
village.clear()
print(village)

{}

In [51]:
#using operation in dictionaries
village={
    'aizaz':500,
    'palar':2,
    'jalozai':3,
    'shanai':4
    }
'aizaz' in village.keys()# the in and notin operator tell us the item present in the libaries

True

In [52]:
x={1:2,3:4,5:6}
y={5:6,3:4,1:2}
x==y

True

#### Union operator
unoin operator creater a new dicitonaries to mearge the two dictionaries the key and value.

In [56]:
name={
    'aizaz':100,
      'khan':120,
      'shafiq':1300
      }
village={
    'aizaz':500,
    'palar':2,
    'jalozai':3,
    'shanai':4
    }
item = village | name
print(item)

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

This error occur because the version of python less 3.8 this operator not supported the the 3.9 version supportedd this.

The built in function

In [59]:
inventory = {"apple": 100, "orange": 80, "banana": 100, "mango": 200}

all(inventory.values())

True

In [60]:
inventory = {"apple": 100, "orange": 80, "banana": 100, "mango": 200}
inventory["mango"] = 0
all(inventory.values())

False

in the first example the output is true because all value is in the inventory.
in the second example the output is false because the value of the mango is zero in you well out of the mango.

In [63]:
inventory = {"apple": 100, "orange": 80, "banana": 100, "mango": 200}
print(len(inventory))
print(min(inventory.values()))
print(max(inventory.values()))

4
80
200

In [ ]:
students=['Bob','Charlie' , 'Alice', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah']
sorted(students)
# the sorted function assinding the value or key

['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah']

#### summing the dictionary

In [75]:
daily_sales = {
    "Monday": 1500,
    "Tuesday": 1750,
    "Wednesday": 1600,
    "Thursday": 1800,
    "Friday": 2000,
    "Saturday": 2200,
    "Sunday": 2100,
}

sum(daily_sales.values()) / len(daily_sales)

1850.0

The sum function sum the the all the value and the len function give the average of all value.

#### Traversing Dictionaries by Keys
There are two method one is direct and the other is .value() or .key() as you wish.

In [77]:
students = {
    "Aizaz": 89.5,
    "Syed": 76.0,
    "Abdur": 92.3,
    "Rahman": 84.7,
    "Fahad": 88.9,
    "Umar": 95.6,
    "Yaseen": 73.4,
    "Khan": 81.2,
 }
for students in students:
 print(students)

Aizaz
Syed
Abdur
Rahman
Fahad
Umar
Yaseen
Khan

In [79]:
students = {
    "Aizaz": 89.5,
    "Syed": 76.0,
    "Abdur": 92.3,
    "Rahman": 84.7,
    "Fahad": 88.9,
    "Umar": 95.6,
    "Yaseen": 73.4,
    "Khan": 81.2,
 }
for students in students.values():
 print(students)

89.5
76.0
92.3
84.7
88.9
95.6
73.4
81.2

In [ ]:
MLB_teams = {
    "Colorado": "Rockies",
    "Chicago": "White Sox",
    "Boston": "Red Sox",
    "Minnesota": "Twins",
    "Milwaukee": "Brewers",
    "Seattle": "Mariners",
}

for place in MLB_teams.values():
    print(place,"->>",team)# looping in a dictionaries

Rockies ->> Mariners
White Sox ->> Mariners
Red Sox ->> Mariners
Twins ->> Mariners
Brewers ->> Mariners
Mariners ->> Mariners

#### Exploring Existing Dictionary-Like Classes

In [ ]:
from collections import Counter# the counter operator count the item in the dictionaries
Counter("AizAz")

Counter({'A': 2, 'i': 1, 'z': 2})