###  Loops in Python

loops are control flow statements that allow you to repeat a given set of operations a number of times.

#### For loops 
for loops are mostly used to iterate a known number of times, which is common when you’re processing data collections with a specific number of data items

#### While loops
While loops are commonly used to iterate an unknown number of times, which is useful when the number of iterations depends on a given condition

In [8]:
for i in range (10):
 print(i)

0
1
2
3
4
5
6
7
8
9

for i in range(10):
This is a for loop.

range(10) creates a sequence of numbers from 0 to 9 (10 is not included).

i is a loop variable that takes each value from the range one by one.

using for loop in a list:

In [11]:
color=['red','green','yellow','orange','white']
for color in color:
    print(color)

red
green
yellow
orange
white

This is a for loop.

It loops through each item in the list color.

In each loop cycle the variable color will take the value of one element from the list.

In [19]:
no=[(1,2,3),(3,4,5),(1,3,6),(7,8,9)]
for x,y,z in no:
    print(f"{x=}","and"f"{ y=}"' and' f'{ z=}')

x=1 and y=2 and z=3
x=3 and y=4 and z=5
x=1 and y=3 and z=6
x=7 and y=8 and z=9

how this code work.

This creates a list of tuples.

Each tuple has two numbers.

This uses tuple unpacking.

It loops through each tuple and assigns the first value to x and second value to y.

f"{x=}" shows the variable name and its value, like: x=1

"and" is just a string separator.

f"{y=}" shows y=2, etc up to end.

In [21]:
data=('Aizaz',18,'Buner','UET Jalozai')
for i in data:
    print(i)

Aizaz
18
Buner
UET Jalozai

In [22]:
text='ABCDEF'
for alpabet in text:
    print(alpabet)

A
B
C
D
E
F

In [23]:
for index in range(5):
    print(index)

0
1
2
3
4

#### Collections: Dictionaries and Sets

You’ll have two different ways to iterate over the keys of a dictionary. You can either use:

The dictionary directly.

The .keys() method

In [24]:
student={
    'aizaz':50,
    'abdur':60,
    'rahman':70,
    'fahad':80,
}
for student in student:
    print(student)

aizaz
abdur
rahman
fahad

In [25]:
student={
    'aizaz':50,
    'abdur':60,
    'rahman':70,
    'fahad':80,
}
for student in student.keys():
    print(student)

aizaz
abdur
rahman
fahad

In [26]:
student={
    'aizaz':50,
    'abdur':60,
    'rahman':70,
    'fahad':80,
}
for student in student.values():
    print(student)

50
60
70
80

In [ ]:
students={
    'aizaz':50,
    'abdur':60,
    'rahman':70,
    'fahad':80,
}
for student in students:#for value,student in students.items():
    print(student,students[student])#print(value, student)

aizaz 50
abdur 60
rahman 70
fahad 80

There are different way to use dictionaries in for loop.
you can use .key() operator to print the output of all the key in a loop.
you can use .value to print the value.

In [35]:
tools = {"Django", "Flask", "pandas", "NumPy"}
for tool in tools:
    print(tool)

Django
NumPy
Flask
pandas

#### The break statement

In [39]:
number=[1,2,3,4,5]
target=2
for number in number:
    print(f'number{number}')
    if number==target:
        print(f'number of target{target}')
        break

number1
number2
number of target2

The meaning of the code:
using break statement in for loop. The loop goes untell the target was found. When the target were found the loop stop.it donot print the 3 4 5.

#### The continue Statement:

In [69]:
numbers = [1, 2, 3, 4, 5, 6,7,8,9]

for number in numbers:
     if number  == 5:
         continue
     print(number)

1
2
3
4
6
7
8
9

In [74]:
numbers=[1,2,3,4,5,6,7,8,9]
for number in numbers:
    print(f"{number=}")
    if number % 2 == 0:
        continue
    print(f"{number} is odd")

number=1
1 is odd
number=2
number=3
3 is odd
number=4
number=5
5 is odd
number=6
number=7
7 is odd
number=8
number=9
9 is odd

In this example, the code that processes the numbers is only reached if the number is even. Otherwise, the continue statement skips that code and jumps right into the next iteration.

In [85]:
# else statement
numbers=[1,2,3,4,5,6]
target=3
for number in numbers:
    print(f'number {number}')
    if number==target:
        print(f'target is {target}')
        break
else:
    print(f'target was not found {target}')

number 1
number 2
number 3
target is 3

In [86]:
# else statement
numbers=[1,2,3,4,5,6]
target=30
for number in numbers:
    print(f'number {number}')
    if number==target:
        print(f'target is {target}')
        break
else:
    print(f'target was not found {target}')

number 1
number 2
number 3
number 4
number 5
number 6
target was not found 30

The else clause won’t run if the loop breaks out with the break statement. It only runs if the loop terminates normally, allowing you to inform the user that the target number wasn’t found.

In [ ]:
for number in range(1,11):#This outer loop runs from 1 to 10
    for product in range(number,number*11,number):#This inner loop starts from number and goes up to number * 10 (but non-inclusive of number*11) with a step of number.
        print(f'{product:>5d}',end="") # :>nd use for space 
    print()#end= don not go to another line if each number is same

    1    2    3    4    5    6    7    8    9   10
    2    4    6    8   10   12   14   16   18   20
    3    6    9   12   15   18   21   24   27   30
    4    8   12   16   20   24   28   32   36   40
    5   10   15   20   25   30   35   40   45   50
    6   12   18   24   30   36   42   48   54   60
    7   14   21   28   35   42   49   56   63   70
    8   16   24   32   40   48   56   64   72   80
    9   18   27   36   45   54   63   72   81   90
   10   20   30   40   50   60   70   80   90  100

In [ ]:
fruits=['orange','banana','apple','water mellon']
for index,fruite in enumerate(fruits):#there’s a better way—the built-in enumerate() function:
    print(index,fruite)

0 orange
1 banana
2 apple
3 water mellon

The enumerate() function adds a counter (index) to an iterable (like a list, string, or tuple) and returns it as a tuple of (index, item).

In [98]:
fruites=['orange','banana','apple','water mellon']
for index in range(len(fruites)):
    fruite=fruites[index]
    print(index, fruite)

0 orange
1 banana
2 apple
3 water mellon

#### Looping Over Several Iterables in Parallel
Looping through two or more iterables in parallel may be another common task you encounter in Python programming. To do this, you can use the built-in zip() function, which takes two or more iterables and yields tuples that combine items from each iterable.

In [99]:
number=[1,2,3,4,5]
letter=['a','b','c','d','f']
for number,letter in zip(number,letter):
    print(number,letter)

1 a
2 b
3 c
4 d
5 f

#### Iterating Over Multiple Iterables Sequentially
There may be times when you need to iterate over multiple iterables sequentially in a single loop. In such cases, you can use the chain() function from Python’s itertools module.

In [ ]:
from itertools import chain
numebers=[1,2,3]
num2=[4,5,6]
num3=[7,8,9]
for value in chain(numbers,num2,num3):
    print(value**2)

1
4
9
16
25
36
16
25
36
49
64
81

In [103]:
matrix = [
     [9, 3, 8],
     [4, 5, 2],
     [6, 4, 3],
 ]
for value in chain(*matrix):
    print(value**2)

81
9
64
16
25
4
36
16
9

In [ ]:
for _ in range(3):#Note that the loop variable is a single underscore character in this example
    print("Knock, knock, knock")
    print("penny!")

Knock, knock, knock
penny!
Knock, knock, knock
penny!
Knock, knock, knock
penny!

#### Iterating Over Reversed and Sorted Iterables
reversed function mean the loop are reverse the lest and prent.

In [105]:
name=['aizaz','ali','waqar','younas']
for name in reversed(name):
    print(f'Hello {name}')

Hello younas
Hello waqar
Hello ali
Hello aizaz

#### Understanding the common pitfalls in for loops

In [114]:
numbers = [2, 4, 6, 8]

for number in numbers:
     if number % 2 == 0:
         numbers.remove(number)
         print(number)

2
6

In [ ]:
numbers = [2, 4, 6, 8]

for number in numbers[:]:
     if number % 2 == 0:
         numbers.remove(number)
print(numbers)

[]

In [130]:
numbers = [2, 1, 4, 6, 5, 8]
num=[]
for number in numbers:
    if number%2!=0:
        num.append(number)
        print(number**2)

1
25

In [ ]:
names = ["Alice", "Bob", "John", "Jane"]

for name in names:
     name = name.upper()
     print(name)

ALICE
BOB
JOHN
JANE
JANE

#### Using for Loops vs Comprehensions
When you use for loops to transform data and build new collections, it may be possible to replace the loop with a comprehension.

In [140]:
squar=[]
for number in range(10):
    squar.append(number)
    print(number**2)

0
1
4
9
16
25
36
49
64
81

You can quickly replace the above loop with a list comprehension like the following:

In [147]:
square=[number**2 for number in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]