#### Tuple in Pythoon
Tuples are also collections of arbitrary objects. to define tuple you will enclose a comma separated sequence of objects in parentheses (()) as  shown below

In [2]:
name=('aizaz','umair','yahaya','nabeel')
print(name)

('aizaz', 'umair', 'yahaya', 'nabeel')

Tuple are immutable. Its mean that when tuple are define there are no change in tuple.
Tuple are used commnly to stoe data in Heterogeneous form.

In [4]:
t=(2,)
print(type(t))
t=(2)
print(type(t))

<class 'tuple'>
<class 'int'>

In the first example you create a tuple containing a single value by appending a comma after the value. in the second example you use the parentheses  without the comma. in this case you create an integer value instead of a tuple.
You can also create new tuples using the tuple() constructor.

In [5]:
print(tuple(range(10)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
#tuple are ordered sequence
person=('jane',25,'norway')
print(person)

('jane', 25, 'norway')

In [13]:
#tuple can be indexing
name=tuple(range(10))
print(name[0])
print(name[1:3])

0
(1, 2)

In [21]:
#list are nested
number=('A',(2,3),'B',(4,5),'C')
print(number[2])
print(number[1:2])

B
((2, 3),)

In this example you create a nested tuple.
in then indexing the tuple.

##### tuple are Immutable
if you try to update the value of the tuple then you will get the typeError.

In [ ]:
number=(1,2,3,4,5,6,7)
number[1]=8 # the tuple are not update because it is immutable
print(number)

TypeError: 'tuple' object does not support item assignment

##### packing and unpacking in tuple

In [23]:
a=(1,2,3,4)
s1,s2,s3,s4=a
print(s1)

1

If you try to pic the less or more value then you will get the value error.

In [ ]:
a=(1,2,3,4)
s1,s2,s3=a# the error occure due to you pick the less value
print(s1)

ValueError: too many values to unpack (expected 3)

In [ ]:
a=(1,2,3,4)
s1,s2,s3,s4,s5=a# the error occure due to the more pick vaue
print(s1)

ValueError: not enough values to unpack (expected 5, got 4)